<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Amicus</title>
    <link rel="stylesheet" href="~/site.css"/>
</head>
<body class="outer">

<div class="full-container header-container" id="header-container">

    @*<div class="Logo"><a class="Logo" asp-area="" asp-controller="Home" asp-action="Index"><img alt="Amicus Logo" src="/images/Logo.png"></a></div>*@
    <div class="menu">
        <ul class="navbar-nav">
            <li>
                <div class="dropdown">
                    <span class="dropbtn"><image class="extras" alt="Dropdown" src="/images/Dropdown1.jpg"></image>
                        <i class="fa fa-caret-down"></i>
                    </span>
                    <div class="dropdown-content">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link" asp-area="" asp-controller="Members" asp-action="Index">Contact a member</a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </div>
                </div>
            </li>

            <li>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="OpenHouse"><image class="extras" alt="Open House Icon" src="/images/OpenHouseIcon.png"></image><span class="ImgText">Join A Open House</span></a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><image class="extras" alt="Curriculum icon" src="/images/curriculum-icon.png"></image><span class="ImgText">Curriculum</span></a>
            </li>

            <li class="Right">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><image class="extras" alt="My Account icon" src="/images/LoginIcon.jpg"></image><span class="ImgText">My Accounts</span></a>
            </li>

        </ul>
        <nav>
        </nav>
    </div>

</div>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Amicus-Classical-Academia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
<script src="~/site.js" asp-append-version="true"></script>
@*@RenderSection("Scripts", required: false)*@
</body>
</html>