
.Box{
    font-size: 35px;
    background-color: #506682;
    border-radius: 10px;
    box-shadow: 14px 14px 2px 1px rgba(4, 4, 4, 0.2);
    
    padding: 15px;

    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.BOX1{
    
    min-width: 160px;
    max-width: 550px;
    
    height: 150px;
}



.BOX2{    
    min-width: 160px;
    max-width: 400px;

    height: 500px;

    li {
        float: left;
        display: block;
        padding: 4px 12px;   /* example spacing */
        margin: 0px 4px;     /* example margin */
    }

}
.BOX3{
    margin-top: -350px;
    
    min-width: 160px;
    max-width: 200px;

    height: 130px;
    
}

.Box4{
    margin-top: -350px;

    min-width: 160px;
    max-width: 200px;

    height: 130px;
}