.Box{
    font-size: 35px;
    background-color: #506682;
    border-radius: 10px;
    box-shadow: 14px 14px 2px 1px rgba(4, 4, 4, 0.2);

    padding: 15px;

    border-color: white;
    border-style: solid;
    border-width: 3px;
}


.innerBox{
    padding: 5px;
    font-size: 25px;


    background-color: #506682;
    border-radius: 10px;


    border-color: white;
    border-style: solid;
    border-width: 3px;

}

.innerBox:hover{
    background-color: #344353;
}


.BOX1{
    min-width: 160px;
    max-width: 1020px;
}

.TopBox{
    margin-left: 40px;
    padding: 0 50px;
    width: 1210px
}

ul.TopBox{
    margin-left: -100px;
    padding: 0 25px;
}

ul.triBox{
    padding: 0 25px;
    margin-left: -80px;
}

.triBox{
    padding: 15px 25px;
    margin-left: 20px;
    width: 1200px;
}