
/*#region Baise HTML*/

html {
    position: relative;
    min-height: 100%;
    color : white;

    list-style: none;
    font-size: 14px;
    background: #4F6581;
    background: linear-gradient(90deg, rgba(79, 101, 129, 1) 0%, rgba(93, 112, 150, 1) 50%, rgba(79, 101, 129, 1) 100%);
}

p{
    font-size: 20px;
    
    
}

abbr{
    text-decoration: none;
    
}

tr{
    gap: 0 10px;
    font-size : 45px;
}

body{
    margin-bottom: 60px;

    font-size: 14px;
    font-weight: 500;
    transition: color 0.4s ease;
}


h1{
    font-size: 45px;
    background-color: #506682;
    border-radius: 10px;
    box-shadow: 14px 14px 2px 1px rgba(4, 4, 4, 0.2);

    min-width: 160px;

    border-color: black;
    border-style: solid;
    border-width: 3px;
}

/*#region Lists*/

ul{
    list-style: none;
    display: flex;
    gap: 0 20px;
}

li{
    list-style: none;
    padding: 0 5px;
}

/*#endregion Lists*/

/*#region Links*/

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

/*#endregion Links*/


/*endregion Baise HTML*/

/*#region Custom tags*/


/*#region formating*/
.outer{
    text-align: center;
}
.inner{
    display: inline-block;
}
.Right{
    display: block;
    text-align: right;
}

.header-container{
    height: 64px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    
    border-radius: 10px;
}

/*endregion formating*/

/*#region Images*/
.Logo{
    height: 150px;
    border-radius: 10px;
    box-shadow: 14px 14px 2px 1px rgba(4, 4, 4, 0.2);

    border-color: black;
    border-style: solid;
    border-width: 3px;
}


/*#endregion Images*/

/*#region Dropdown*/

/* Dropdown Button */
.dropbtn {
    
    border-radius: 10px;
    color: #24333c;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover{
    color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {

    border-color: black;
    border-style: solid;
    border-width: 3px;


    display: none;
    position: absolute;
    background-color: #4f6380;
    border-radius: 10px;
    color: #24333c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    border-radius: 10px;
    
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #708fb8;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */


/*endregion Dropdown*/

/*#region JavaScript*/
@media{
    .hidden{
        display: none !important;
    }
}
/*#endregion JavaScript*/

/*#endregion*/














a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */


/*NAV*/
li.nav-item{
    
    
    font-size: 24px;
    list-style: none;
    color: black;
    display: flex;
    background-color: #506682;
    border-radius: 10px;
        
    border-color: black;
    border-style: solid;
    border-width: 3px;
    
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.icon{
    display: inline-block;
}
.icon-lg{
    width: 25px;
    height: 25px;
}
.icon-sm{
    width: 12px;
    height: 12px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



/* Sticky footer styles
-------------------------------------------------- */


.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* Styling  */



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*JAVA SCRIPT*/

.extras{
     
    height: 40px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
.ImgText{
    position: relative;
    top: -15px;
    color: white;
}

a.ImgText:hover{
    color: black;
}


navbar-nav{
    top: 15px;
}






