
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}


body{
    font-size: 14px;
    font-weight: 500;
    transition: color 0.4s ease;
}


/*Lists*/

ul{
    list-style: none;
    display: flex;
    text-align: center;
    gap: 0 200px;
}

li{
    list-style: none;
    padding: 0 10px;
}
/*NAV*/
li.nav-item{
    
    
    font-size: 24px;
    list-style: none;
    color: black;
    display: flex;
    background-color: #506682;
    border-radius: 10px;
        
    border-color: black;
    border-style: solid;
    border-width: 3px;
    
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.icon{
    display: inline-block;
}
.icon-lg{
    width: 25px;
    height: 25px;
}
.icon-sm{
    width: 12px;
    height: 12px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    list-style: none;
    font-size: 14px;
    background: #4F6581;
    background: linear-gradient(90deg, rgba(79, 101, 129, 1) 0%, rgba(93, 112, 150, 1) 50%, rgba(79, 101, 129, 1) 100%);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    color : white;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* formating */
.outer{
    text-align: center;
}
.inner{
    display: inline-block;
}

/* Styleing  */

.Logo{
    height: 250px;
    border-radius: 10px;
    box-shadow: 14px 14px 2px 1px rgba(4, 4, 4, 0.2);

    border-color: black;
    border-style: solid;
    border-width: 3px;
}

h1{
    font-size: 45px;
    background-color: #506682;
    border-radius: 10px;
    box-shadow: 14px 14px 2px 1px rgba(4, 4, 4, 0.2);

    border-color: black;
    border-style: solid;
    border-width: 3px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*JAVA SCRIPT*/
@media{
    .hidden{
        display: none !important;
    }
}
.extras{
    height: 250px;
    border-radius: 10px;
    box-shadow: 14px 14px 2px 1px rgba(4, 4, 4, 0.2);

    border-color: black;
    border-style: solid;
    border-width: 3px;
}