@{
    ViewData["Title"] = "About";
}
@{
    Layout = "_Layout";
}

<head>
    <title>About</title>
</head>

<body class="outer">
<div class="inner">
<h1>What is Amicus</h1>




<a href="/">Home</a>
</div>

</body>