@{
    ViewData["Title"] = "About";
}
@{
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<head>
    <title>About Page</title>
    <link rel="stylesheet" href="site.css">

</head>

<a href="/">Home</a>