@{
    Layout = "_Layout";
    ViewData["Title"] = "Approach Page";
}

<head>
    <title>@ViewData["Title"] - Amicus</title>
    <link rel="stylesheet" type="text/css" href="~/ApproachBoxes.css"/>
</head>

<h1 class="inner">Approach</h1>
<div>
    <ul>
        <li class="Box BOX1">
            Our Approach program runs weekly from 9:30 - noon for children ages 4-11 or pre kindergartner to 6th grade
        </li>
        <li class="Box BOX2">
            Classes are typically 7-9 students and consist of 5, thirty minute components.
            <div class="outer">
                <p class="subjects">1. Memory Work</p>
                <p class="subjects">2. Presentation</p>
                <p class="subjects">3. Science</p>
                <p class="subjects">4. Art/Music</p>
                <p class="subjects">5. Review</p>
            </div>
            
        </li>
        
    </ul>
    
    <ul>
        <li class="Box BOX3">All parents participate in teaching</li>
        <li class="Box BOX4" >We Use <a class="Box" href="https://claritaspublishing.com/">Claritas</a> as our baseline curriculum. <br>We are currently on Cycle 4</li>
    </ul>
</div>
