@{
    Layout = "_Layout";
    ViewData["Title"] = "Approach Page";
}

<head>
    <title>@ViewData["Title"] - Amicus</title>
    <link rel="stylesheet" type="text/css" href="~/ApproachBoxes.css"/>
</head>

<h1 class="inner">Approach</h1>
<div class="outer">
<div class="inner">
    <ul>
        <li class="Box BOX1">
            Our Approach program runs weekly from 9:30 - noon for children ages 4-11 or pre kindergartner to 6th grade
        </li>
        <li class="Box BOX2">
            Classes are typically 7-9 students and consist of 5, thirty minute components.
            <div class="outer">
                <p class="subjects">1. Memory Work</p>
                <p class="subjects">2. Presentation</p>
                <p class="subjects">3. Science</p>
                <p class="subjects">4. Art/Music</p>
                <p class="subjects">5. Review</p>
            </div>
            
        </li>
        
    </ul>
    
    <ul>
        <li class="Box BOX3">All parents participate in teaching</li>
        <li class="Box BOX4" >We Use <a class="innerBox" href="https://claritaspublishing.com/"><img class="linkImg" src="//claritaspublishing.com/cdn/shop/t/3/assets/claritas-logo-only.png?v=174546746033808968161695390866" alt="Claritas logo"> Claritas</a> as <br>our baseline curriculum.
            <br> We are currently on Cycle 4</li>
    </ul>
        
    <p class="Box BOX5">Since 2020</p>
        
    <p class="Box BOX6"> All students work on the same curriculum work at the same time</p>
        
</div>

<div class="inner">
    <li class="Box BOX8">The 8 subjects covered in memory work are:
        <ul class="outer">
            <li class="subjects">Hymn</li>
            <li class="subjects">Scripture</li>
            <li class="subjects">Timeline</li>
            <li class="subjects">History</li>
            <li class="subjects">Science</li>
            <li class="subjects">Latin</li>
            <li class="subjects">English</li>
            <li class="subjects">Geography</li>
        </ul>
    </li>
</div>

    <div class="inner">
        <p class="Box BOX8">Amicus Classical Academy is a cooperative classical Christian co-op made up of Christian homeschooling families working to participate in academic camaraderie with other like minded families.</p>
    </div>


    <div class="inner">
        <ul>
            <li class="Box BOX9">Families need to add a math and language arts curriculum.</li>
            <li class="Box BOX10"> 28 weeks of work</li>
        </ul>
        
        <li class="Box BOX8">Why Classical Education<br> 
            <div class="dropdown">
                <span>
                    <p class="Box"> See these articles on Classical education</p>
                </span>
                <div class="dropdown-content outer">
                    <abbr title="The Eight Essential Principles of Classical Pedagogy">
                        <a class="nav-link inner" href="https://www.youtube.com/watch?v=wi9UBSIu10M">The Eight Essential Principles...</a>
                    </abbr>
                    <abbr title="A Conversation with Andrew Kern on the Definition of Classical Education">
                        <a class="nav-link inner" href="https://www.youtube.com/watch?v=YeDOYrGdV7o">A Conversation with Andrew Kern...</a>
                    </abbr>
                    <abbr title="What is the Difference between Classical and Conventional Education?">
                        <a class="nav-link inner" href="https://circeinstitute.org/blog/what-difference-between-classical-and-conventional-education">What is the Difference between...</a>
                    </abbr>
                </div>
            
            </div>
        </li>
        
    </div>
    
    <div class="inner">
        <ul>
            <li class="Box">Have older students? See our <a class="innerBox" asp-area="" asp-controller="Home" asp-action="Quest">Quest Program</a></li>
            <li class="Box">Have Younger Children? We have a nursery program </li>
            <li class="Box">4th 5th and 6th grade Students are eligible for <a class="innerBox" asp-area="" asp-controller="Home" asp-action="Crossover">Crossover</a> Our formal grammar and Writing program.</li>
        </ul>
        
    </div>

</div>

