@{
    Layout = "_Layout";
    ViewData["Title"] = "Crossover page";
}

<head>
    <title>@ViewData["Title"] - Amicus</title>
    <link rel="stylesheet" type="text/css" href="~/CrossoverBoxes.css"/>
</head>

<h1 class="inner">Crossover</h1>

<div class="outer">
    
    <div class="inner">
        <p class="Box BOX1">Crossover is a program for students "crossing over" from <a class="innerBox" asp-area="" asp-controller="Home" asp-action="Approach"><abbr
                                                                                                                                                                     title="Approach page">Approach</abbr></a> to
            <a class="innerBox" asp-area="" asp-controller="Home" asp-action="Quest"><abbr title="Quest page">Quest.</abbr></a> 
            It is from 1:00 to 3:15 Weekly. 4th, 5th, 6th grade | ages 9-11</p>
    
        <ul class="TopBox">
            <li class="Box TopBox">Formal Writing</li>
            <li class="Box TopBox">Formal Grammar</li>
            <li class="Box TopBox">Math Games</li>
        </ul>
        
        <ul class="triBox">
            <li class="Box triBox">
                45 minutes <br>
                We use
                <a class="innerBox" href="https://iew.com/"><abbr title="Institute for Excellence in Writing">
                    
                    <img class="linkImg" src="https://iew.com/img/iew-globe-logo-white.png" alt="Institute for Excellence in Writing logo">IEW!
                </abbr></a>
                <br>We use Structure and style <br>
                <ul class="BulletPoints">
                    <li class="None">Unit 1 and 2: note taking and key word outlines</li>
                    <li class="None">3: Narrative stories</li>
                    <li class="None">4: Sumerizing references</li>
                    <li class="None">5: Writing from pictures</li>
                    <li class="None">6: Resets reports</li>
                    <li class="None">7: Inventive writing</li>
                    <li class="None">8: Essay writing</li>
                </ul>
            </li>
            
            <li class="Box triBox">
                45 minutes <br>
                We use <br>
                <a class="innerBox" href="https://classicalacademicpress.com/collections/well-ordered-language">
                    <img class="linkImg" src="https://www.ariseclassicalacademy.com/wp-content/uploads/2023/07/classical-academy-logo.png" alt="Well Ordered Language logo">Well Ordered Language!
                </a> <br>
                2a and 2B for 4th-5th grade<br>
                3A and 3B for 5th-6th grade<br>
                The 2 levels are repeatable <br>
                for a solid understanding <br>
                <ul class="BulletPoints">
                    <li class="BulletPoints">Parts of Speech</li>
                    <li class="BulletPoints">Sentence Diagramming</li>
                    <li class="BulletPoints">Modifiers</li>
                </ul>
            </li>
            
            <li class="Box triBox">
                30 minutes<br>
                a time for students<br>
                to practice basic<br>
                arithmetic skills<br>
                <ul class="BulletPoints">
                    <li class="BulletPoints">addition</li>
                    <li class="BulletPoints">subtraction</li>
                    <li class="BulletPoints">multiplication</li>
                    <li class="BulletPoints">division</li>
                </ul>
                <br>
                in game format. <br>
                <ul class="BulletPoints">
                    <li class="BulletPoints">Battleship</li>
                    <li class="BulletPoints">Snake</li>
                    <li class="BulletPoints">Number knockout</li>
                    <li class="BulletPoints">and more!</li>
                </ul>
            </li>
            
        </ul>
        
        <p class="Box BOX1">
            Crossover students end their year with a "Who in the World?" presentation 
            where students present on a historical person in the first person.
        </p>
        
    </div>
    
    
</div>

