@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="site.css?version=51">
</head>

<body class="outer">

<div class="inner">
    
   @* <a href="/Home/About">About</a>*@
    <p></p>
    
    
</div>


<div class="inner">
    <img src="/images/Logo.png" alt="Amicus Logo" class="Logo">
    <div class="outer">
        <h1 class="inner">Amicus Classical Academy</h1>
    </div>
    
    
    
    <div class="content">
        <p>
            Mission Statement: Pursuing Christ together while seeking virtue through truth, beauty and goodness.
        </p>
        <p>Colossians 3:23-24    "Whatever you do, work heartily, as for the Lord and not for men, knowing that from the Lord you will receive the inheritance as your reward. You are serving the Lord Christ."</p>
        <p>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">What is Amicus</a>
        </p>
        
    </div>
    
    
    

</div>
@{
    Layout = "_Layout";
}

<h2></h2>
</body>