@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
<head>
    <title>Home Page</title>
</head>

<body class="outer">

<div class="inner">
    
   @* <a href="/Home/About">About</a>*@
    <p></p>
    
    
</div>


<div class="inner">
    <img src="/images/Logo.png" alt="Amicus Logo" class="Logo">
    <h1 class="outer">Welcome To Amicus</h1>
    

</div>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<p>Test</p>
<p>Test</p>

</body>