@{
    ViewData["Title"] = "OpenHouse";
}

@{
    Layout = "_Layout";
}

<head>
    <title>@ViewData["Title"] - Amicus</title>
    <link rel="stylesheet" type="text/css" href="site.css?version=51">
</head>




<div class="outer">
    
    <h1 id="OpenHouse" class="inner">Open House</h1>
    <br>
    <div class="InfoBox inner">
        <p>Amicus requires that each family who applies and is not a current Amicus family, attend an Open House.</p>
        <p>Open house dates are the first meeting Tuesday of each month. For the 2025-26 school year, our open house dates will be: Sept 2, Oct 7, Nov 4, Dec 9th, Jan 13, Feb 3, Mar 3, Apr 7, May 5</p>
        <a class="InfoBoxLink" asp-area="" asp-controller="Home" asp-action="Calendar">See the Calendar</a>
        <p>The purpose for requiring new families to attend an Open House is for you and your students to see Amicus
            in action and participate on a regular community day. Amicus is a significant commitment and may not be a good
            fit for every family. Understanding what Amicus offers and what is expected and required of all parents and students
            helps the success of all of our families. It also gives both you and the board the opportunity to ask questions and
            get a better feel if Amicus is a good fit for your family.
        </p>
    </div>
    <br>
    <h1 id="Instructing" class="inner">Instructing</h1>
    <br>
    <div class="InfoBox inner">

        <p>
            All Amicus parents are required to instruct in some capacity. Instructing is similar to teaching except that you are
            not ultimately responsible for the outcome of the student's work, and you are not required to collect or grade work.
            You, as the homeschooling parent, are the true teacher of your own children. But in the context of our full cooperative
            operation or “co-op”, you, as an instructor, play an important role in being the lead learner of your subjects, guiding
            other parent’s students. Instructing will require approximately 3-5 hours of preparation time each week, and although we
            try to accommodate instructing preferences, this doesn’t always work out. Families feel most successful in our co-op model
            when parents are familiar and comfortable with instructing (classes are about 7-10 students depending on the age level) and
            have the time to prepare for their classes during the week. Being familiar with Classical Education and willing to learn more
            about it in your free time will not only help you in your personal homeschool philosophy, but also in how ACA fits into that
            model. To further understand the educational philosophy of Amicus, check out this article about the differences between
            Classical and Conventional Education, please see <a href="https://circeinstitute.org/blog/what-difference-between-classical-and-conventional-education/">this article from The Circe Institute </a>
            for some very helpful information.

        </p>
    </div>
    <br>
    <h1 id="Training" class="inner">Training</h1>
    <br>
    <div class="InfoBox inner">
        <p>
            Every year, the board hosts a training day required for all parents to attend. This is a time for expanding on the philosophical
            reasons we use Classical Education, how we can all learn more about Classical Education and why it’s important in your personal
            homeschool, and how that all plays into what we do at ACA. The afternoon is a breakout session where you learn more specifics about
            your instructing responsibilities, the expectations of the board and the ways your service supports us all as we work together in
            this special work of serving each other together. Our date for 2026 is August 4th from 9am-3pm.
        </p>
    </div>
    <br>
    <h1 id="EnrollmentDates" class="inner">Enrollment dates</h1>
    <br>
    <div class="InfoBox inner">
        <p>
            Enrollment for the Fall semester closes on August 1, and closes on December 15 for Spring enrollment. We do not enroll 
            families mid semester. Our enrollment is typically close to max capacity, and may be full in some grades/ages and not in others.
        </p>
    </div>


</div>
