@{
    ViewData["Title"] = "OpenHouse";
}

@{
    Layout = "_Layout";
}

<head>
    <title>@ViewData["Title"] - Amicus</title>
    <link rel="stylesheet" type="text/css" href="site.css?version=51">
</head>


<h1>Open House</h1>
<p>Amicus requires that each family who applies and is not a current Amicus family, attend an Open House.</p>
<p>Open house dates are the first meeting Tuesday of each month. For the 2025-26 school year, our open house dates will be: Sept 2, Oct 7, Nov 4, Dec 9th, Jan 13, Feb 3, Mar 3, Apr 7, May 5</p>
